<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <checkmo>
                <allowed_ips>103.87.121.19</allowed_ips>
            </checkmo>
        </payment>
        <environment>
            <general>
                <header_title_prefix>local</header_title_prefix>
                <header_background>yellow</header_background>
                <header_text_colour>blue</header_text_colour>
            </general>
        </environment>
        <admin_notification>
            <email>
                <identity>general</identity>
                <template>admin_notification_email_template</template>
            </email>
        </admin_notification>
        <csp>
            <policies>
                <storefront>
                    <frame-ancestors>
                        <inline>0</inline>
                    </frame-ancestors>
                </storefront>
            </policies>
        </csp>
    </default>
</config>
