<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\OfflinePayments\Model\Checkmo">
        <plugin name="od_core_checkmo_plugin" type="Overdose\Core\Plugin\Payment\Method\CheckmoPlugin"/>
    </type>
</config>
