<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="od_core" translate="label" sortOrder="10">
            <label>Overdose</label>
        </tab>
        <section id="payment">
            <group id="checkmo">
                <field id="allowed_ips" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enable payment for IPs</label>
                    <comment model="Overdose\Core\Model\Config\Comment\AllowedIps\ClientIp"/>
                    <depends>
                        <field id="*/*/active">0</field>
                    </depends>
                </field>
            </group>
        </section>
        <section id="od_csp" type="text" translate="label" sortOrder="500" showInDefault="1" showInWebsite="0" showInStore="1">
            <class>separator-top</class>
            <label>Content Security Policy</label>
            <tab>security</tab>
            <resource>Overdose_Core::config</resource>
            <group id="custom_policy" type="text" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>Custom CSP</label>
                <field id="comment" type="note" showInDefault="1" showInWebsite="0" showInStore="1">
                    <comment model="Overdose\Core\Model\Config\Comment\Csp\CustomCsp"/>
                </field>
                <field id="rules" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Rules</label>
                    <frontend_model>Overdose\Core\Block\Adminhtml\Csp\Form\Field\Rules</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
